@font-face {
  font-family: "iconfont"; /* Project id 2962390 */
  src: url('iconfont.woff2?t=1639538433178') format('woff2'),
       url('iconfont.woff?t=1639538433178') format('woff'),
       url('iconfont.ttf?t=1639538433178') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duihuaxinxi:before {
  content: "\e63b";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-xiugaioryijian:before {
  content: "\e601";
}

.icon-xiaoxi:before {
  content: "\e86f";
}

.icon-wenhaoxiao:before {
  content: "\e8c8";
}

.icon-shiliangzhinengduixiang-:before {
  content: "\e6ad";
}

.icon-shezhi:before {
  content: "\e8b7";
}

.icon-zuanshi:before {
  content: "\e60c";
}

.icon-dunpai:before {
  content: "\e775";
}

.icon-gouwuche:before {
  content: "\e70b";
}

.icon-guanzhu:before {
  content: "\e63a";
}

.icon-shoucang:before {
  content: "\eca7";
}

.icon-youjiantou:before {
  content: "\e75e";
}

.icon-shoucangshangpinzanwu:before {
  content: "\e61d";
}

.icon-24gf-playCircle:before {
  content: "\ea82";
}

.icon-Vue:before {
  content: "\e79b";
}

.icon-weibiaoti301:before {
  content: "\e62d";
}

.icon-Redis:before {
  content: "\e6a2";
}

.icon-Android:before {
  content: "\e9e0";
}

.icon-Bootstrap:before {
  content: "\e9e5";
}

.icon-Docker:before {
  content: "\e9f3";
}

.icon-React:before {
  content: "\e799";
}

.icon-jQuery:before {
  content: "\e79a";
}

.icon-Nodejs:before {
  content: "\e7a4";
}

.icon-mongodb:before {
  content: "\e66c";
}

.icon-mysql:before {
  content: "\e613";
}

.icon-logo-javascript:before {
  content: "\e656";
}

.icon-linux:before {
  content: "\e80b";
}

.icon-iOS:before {
  content: "\e632";
}

.icon-css:before {
  content: "\e61e";
}

.icon-html:before {
  content: "\e633";
}

.icon-java:before {
  content: "\e639";
}

.icon-php:before {
  content: "\e64d";
}

.icon-sql:before {
  content: "\e65b";
}

.icon-php1:before {
  content: "\e67e";
}

.icon-1_photoshop:before {
  content: "\e650";
}

.icon-cyuyan:before {
  content: "\e61a";
}

.icon-Python:before {
  content: "\e891";
}

.icon-a-adobephotoshop:before {
  content: "\e8c1";
}

.icon-shizhong:before {
  content: "\e74f";
}

.icon-gengduomore12:before {
  content: "\e60a";
}

.icon-fangdajing:before {
  content: "\e6e4";
}

.icon-zengsong:before {
  content: "\e78c";
}

.icon-xiangshangjiantou:before {
  content: "\e65d";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-icon:before {
  content: "\e668";
}

.icon-web:before {
  content: "\e6fa";
}

.icon-zhengshu:before {
  content: "\e63f";
}

.icon-chakankucun:before {
  content: "\e630";
}

.icon-zhibo-01:before {
  content: "\e631";
}

.icon-guanbijiantou:before {
  content: "\e86d";
}

.icon-fanhuijiantou:before {
  content: "\e8b5";
}

.icon-tuiguang:before {
  content: "\e669";
}

.icon-dazhehuodong:before {
  content: "\e670";
}

.icon-yunshujuku:before {
  content: "\e67d";
}

.icon-diannao:before {
  content: "\e623";
}

.icon-xuexi:before {
  content: "\e6b8";
}

.icon-wode:before {
  content: "\e7d3";
}

.icon-fenxiang:before {
  content: "\e8b0";
}

.icon-shouye:before {
  content: "\e8c6";
}

.icon-vip:before {
  content: "\e773";
}

.icon-kecheng-:before {
  content: "\e61f";
}

.icon-fenlei:before {
  content: "\e63d";
}

.icon-anzhuangshouce:before {
  content: "\e7e9";
}

.icon-orbit-full:before {
  content: "\ea06";
}

.icon-yonghufankuibeifen:before {
  content: "\e604";
}

.icon-wushu:before {
  content: "\e654";
}

.icon-wenjian:before {
  content: "\e600";
}

.icon-zhong:before {
  content: "\e6d3";
}

