/* 样式重置 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 链接 */
a {
  text-decoration: none;
  color: #555;
}

/* 列表 */
li {
  list-style: none;
}
html {
  /* 设计稿以 iPhone 6 宽度 375px为标准, DRP = 2, 物理像素是 750px  */
  /* 以iPhone6为计算依据,来适配所有其它移动端设备 */
  /* iPhone6:  100vm = 375px */
  /* 1vw = 3.75px */
  /* 为了计算元素大小方便,通常将 1rem = 100px */
  /* font-size: 100px; */
  /* 假设当前是宽度为375px, 即 375px = 100vm */
  /* 所以, 100px = (375px / 3.75) = (100vw / 3.75 */
  font-size: calc(100vw / 3.75);
}

body {
  /* font-size:12px; */
  /* 使用rem表示,使用字号适配不同宽度 */
  font-size: 0.12rem;
  color: #333;

  /* 限制一下最大最小的宽度 */
  max-width: 750px;
  min-width: 320px;
  /* 页面居中 */
  margin: auto;

  background-color: #fff;
}

/* 即宽度小于320px,元素和文本不再变小 */
@media screen and (max-width: 320px) {
  html {
    font-size: 85px;
  }
}
/* 宽度大于640px,元素和文本也不再放大 */
@media screen and (min-width: 640px) {
  html {
    /* 因为 640为最小值320的二倍,所以这里断点也是2倍,即 85*2 = 170px */
    font-size: 170px;
  }
}
