body {
  background-color: mediumturquoise;
  color: #444;
  font-weight: lighter;
}
#login {
  width: 20em;
  border-radius: 0.3em;
  box-shadow: 0 0 1em #888;
  box-sizing: border-box;
  padding: 1em 2em 1em;
  margin: 5em auto;
  background-color: paleturquoise;
  display: grid;
  grid-template-columns: 3em 1fr;
  gap: 1em 0;
}
#login .title {
  grid-area: auto / span 2;
  place-self: center;
}
#login input {
  border-radius: 0.3em;
  border: none;
  padding-left: 0.3em;
}
#login input:focus {
  outline: none;
  box-shadow: 0 0 5px seagreen;
  background-color: hsl(283, 100%, 95%);
  border-radius: 0.2em;
  transition: 0.5s;
}
#login button {
  grid-area: auto / 2 / auto;
  outline: none;
  background-color: lightseagreen;
  border: none;
  height: 2em;
  color: #fff;
}
#login button:hover {
  cursor: pointer;
  background-color: seagreen;
  transition: 0.5s;
}
